{% extends 'templates/adminTemp.html.twig' %}
{% block admin %}
    <h1>Gérer vos articles</h1>
    <div class="alert alert-warning">
        Bienvenue sur votre panel admin, gérer vos épisodes et vos commentaires
    </div>

    <p>
        <a href="/panel/add" class="btn btn-success">Ajouter un épisode</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <td>N°</td>
            <td>Titre de l'épisode</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="id">{{article.id}}</td>
                <td>{{article.titre}}</td>
                <td>
                    <a href="/panel/edit/{{article.id}}" class="btn btn-primary">Editer</a>
                    <form action="?p=admin.posts.delete" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<?= $post->id ?>">
                        <a class="btn btn-danger"  data-toggle="modal" data-target="#myModal{{article.id}}">Supprimer</a>
                        <div class="modal fade" id="myModal{{article.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Suppression de l'épisode : {{article.titre}}</h4>

                                        <br/>
                                        <div class="alert alert-warning">Vous êtes sur le point de supprimer cet épisode.</div>
                                        <div class="modal-body">
                                        <a href="/panel/delete/{{article.id}}" class="btn btn-primary">Confirmer</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
