{% extends 'templates/default.html.twig' %}

{% block content %}
<div id="Article" class="container">
    <h2>Episode N° {{ article.id }}</h2>
    <h1> {{ article.titre }}</h1>
    <img src="/images/spera.png"/>
    <p>{{ article.contenu }}</p>
</div>
    <div id="pagination" class="container">
        <nav aria-label="...">
            <ul class="pager">
                    {% if prevPage != null %}
                        <li><a class="previous" href="/episode/{{ prevPage }}"><span aria-hidden="true">&larr;</span> Episode précédent n°{{ prevPage }}</a></li>
                    {% endif %}
                    {% if nextPage != null %}
                        <li><a class="next" href="/episode/{{ nextPage }}">Episode suivant n°{{ nextPage }} <span aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
            </ul>
        </nav>
    </div>

<div id="zonCom" class="container-fluid row">
    <h1><i class="fa fa-commenting" aria-hidden="true"></i></h1>
    <h1>Zon'Coms</h1>
    <img src="/images/spera.png"/>
</div>
<section id="Com" class="container">
    <div class="col-md-7">
            {% for commentaire in article.commentaires if commentaire.etat == true and commentaire.parent is null %}
                <div class="boxCom">
                    <h4 class="pseudo">Par : {{ commentaire.pseudo }}</h4>
                    <div class="lastcom">
                        <p class="dateCom">publié le {{ commentaire.dateAjout }}</p>
                        <p class="commentaire">{{ commentaire.msg }}</p>
                    </div>
                    <button type="submit" name="repondre" data-author="{{commentaire.pseudo}}" data-parent="{{commentaire.id}}" class="btn btn-repondre show">Répondre</button>
                </div>
                {% for commentaire2 in commentaire.children if commentaire2.etat == true %}
                    <div class="boxCom" style="margin-left: 40px;">
                        <h4 class="pseudoAnwser">Par : {{ commentaire2.pseudo }}</h4>
                        <div class="lastcom">
                            <p class="dateCom">publié le {{ commentaire2.dateAjout }}</p>
                            <p class="commentaire">{{ commentaire2.msg }}</p>
                        </div>
                        <button type="submit" name="repondre" data-author="{{commentaire2.pseudo}}" data-parent="{{commentaire2.id}}" class="btn btn-repondre show">Répondre</button>
                    </div>
                    {% for commentaire3 in commentaire2.children  if commentaire3.etat == true %}
                        <div class="boxCom" style="margin-left: 80px;">
                            <h4 class="pseudoAnwser">Par : {{ commentaire3.pseudo }}</h4>
                            <div class="lastcom">
                                <p class="dateCom">publié le {{ commentaire3.dateAjout }}</p>
                                <p class="commentaire">{{ commentaire3.msg }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}

        </div>
    <div class="col-md-offset-1 col-md-4">
        <div id="formCom">
            <h3 id="title-comment">Laissez un commentaire</h3>
            <br>
            {{ form_start(form, {'action':'/episode/add-com/' ~ article.id }) }}
            {{ form_widget(form) }}
            <input type="submit" />
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function(){
            $('.show').click(function() {
                var action = $("form").attr("action");
                $("form").attr("action",action + "/" + $(this).attr("data-parent"))
                $("#title-comment").text("Répondre au commentaire de " + $(this).attr("data-author"))
                $("#comment_pseudo").focus();
            });
        });
    </script>

{% endblock %}

